body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    display: block;

}

 .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 0;
}
.modal
{
   
   z-index: 10;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 50px 60px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    z-index: 10;
}

.close-modal {
    position: absolute;
    padding: 10px 5px;
    background-color: rgb(78, 91, 238);
    border-radius: 5px;
    color:white;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}